<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_app</title>
    <script type="importmap"></script>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - web_app
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
