<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _06_identity_server</title>
</head>
<body>
    <header>
        <nav
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Secure" asp-action="Index">Protected</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="User" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
